* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
body {
    font: 16px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    overflow: hidden;
    background: #222;
    width: 100vw;
    height: 100vh;
    border: 50px solid transparent;
    z-index: 999;
}

@keyframes borderBlinkAlignLeft {    
    from, to {    
        border-left-color: transparent    
    }    
    50% {    
        border-left-color: rgb(81, 255, 0)    
    }    
}  

@keyframes borderBlinkAlignRight {    
    from, to {    
        border-right-color: transparent    
    }    
    50% {    
        border-right-color: rgb(81, 255, 0)    
    }    
}  

@keyframes borderBlinkAlignUp {    
    from, to {    
        border-top-color: transparent    
    }    
    50% {    
        border-top-color: rgb(81, 255, 0)    
    }    
}  

@keyframes borderBlinkAlignDown {    
    from, to {    
        border-bottom-color: transparent    
    }    
    50% {    
        border-bottom-color: rgb(81, 255, 0)    
    }    
}  

@keyframes borderBlinkLevel {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: rgb(255, 140, 0)    
    }    
}  



.aligned-left {
    animation: borderBlinkAlignLeft 0.5s step-end infinite;    
}

.aligned-right {
    animation: borderBlinkAlignRight 0.5s step-end infinite;    
}

.aligned-up {
    animation: borderBlinkAlignUp 0.5s step-end infinite;    
}

.aligned-down {
    animation: borderBlinkAlignDown 0.5s step-end infinite;    
}

.aligned-complete {
    border-color: rgb(81, 255, 0);
}

#clockwise, #counter-clockwise {
    display: none;
    position: absolute;
    top: 0vh;
    right: 35vw;
    scale: 100%;
}


.leveled {
    animation: borderBlinkLevel 0.5s step-end infinite;    
}


button, input[type="text"], input[type="number"], .select-container, select {
    color: white;
    background: #444;
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
}
.select-container {
    padding: 0;
    display: inline-block;
}
select {
    border: none;
    background: none;
    color: white;
    height: 25px;
}
input[type="text"], input[type="number"] {
    cursor: text;
}
input[type="checkbox"] {
    -webkit-filter: saturate(0);
    filter: saturate(0);
}
/* Major interface panes, aside, article, header, etc. */
body > * {
    padding: 10px;
    position: fixed;
    /* overflow: scroll; */
    background: #222;
}
header {
    width: 20vw;
    height: 20vh;
    top: 0;
    left: 30vw;
    color: white;
}

svg * {
    stroke: white;
    fill: #222;
    stroke-width: 2;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}
text {
    font-size: 16px;
    letter-spacing: 2px;
    stroke: none;
    fill: white;
}
#login {
    position: fixed;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}
body.login #login {
    display: flex;
}
#login :disabled {
    opacity: 0.6;
}
#login > * {
    height: 40px;
}
#login > button {
    margin-left: 5px;
}
#warning-info {
    position: absolute;
    /*top: 51vh;*/
    transform: translate(60vw, 60vh);
    /* width: 40vw;
    height: 10vh; */
    z-index: 1;
}

#auto-warning {
    display: none;
    background-color: red;
    color: white;
    font-size: 4rem;
    margin-top: 10vh;
}

#delay {
    margin-top: 10px;
    margin-bottom: 10px;
}

#confirm-button {
    width:400px;
}


#big-warning {
    position: absolute;
    background: red;
    transform: translate(35vw, 70vh);
    width: 30vw;
    height: 15vh;
    z-index: 1;
}
#back-indicator {
    position: absolute;
    transform: translate(0vw, 21vh);
}
#front-indicator {
    position: absolute;
    transform: translate(0vw, 21vh);
}

#indicators {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    position: absolute;
    width: 92vw;
    bottom: 5vh;
    right: 5vw;
}

#indicators>div {
    border: 1px solid rgb(8, 218, 8);
}

#subsystems {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /* position: absolute;
    bottom: 5vh;
    right: 5vw; */
    width: 300px;
    height: 200px;

}

#subsystems div {
    border: 1px solid rgb(8, 218, 8);
    padding: 20%;
    font: bold;
    color: black;
}



#auton-chooser {
    /* position: absolute;
    transform: translate(0vw, 72vh); */
    /* display: flex;
    flex-direction: column wrap;
    justify-content: space-between;
    align-items: center; */
}

#arm-state {
    display: flex;
    align-items: center;
    justify-content: center;
}

#arm-state-text {
    margin: 30px;
}

#auto-form {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

#align {
    width: 250px;
    height: 200px;
}

#leveling {
    width: 250px;
    height: 200px;
    align-items: center;
}

#leveling-line {
    border-top:10px solid#ff00ff; 
    align-items: center;
    margin-top: 100px;    
}

fieldset#position {
    border: none;
}

/* Dropup Button */
  .dropbtn {
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropup content */
  .path-dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
  }
  
  /* Dropup content (Hidden by Default) */
  .dropup-content {
    display: none;
    position: absolute;
    bottom: 38px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropup */
  .dropup-content p {
    color: black;
    padding: 10px 13px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropup links on hover */
  .dropup-content p:hover {background-color: #ddd}
  
  /* Show the dropup menu on hover */
  .path-dropdown:hover .dropup-content {
    display: block;
  }


#current-text {
    position: absolute;
    width: 30vw;
    transform: translate(38vw, 70vh);
}

/* #match-phase {
    background-color: rgb(25, 67, 75);
    transform: translate(5vw, 71.5vh);
} */


.general-button { 
    background-color: rgb(25, 105, 25);
    font-size: 100%;
}

.general-button:hover {
    background-color:rgb(23, 167, 23);
}

.general-button:active {
    background-color:rgb(8, 218, 8);
}

#toggle-camera {
    position: absolute;
    left: 3.5vw;
    bottom: 30vh;
}

/* #shooter-values  {
    position: absolute;
    transform: translate(75vw, 35vh);
    width: 20vw;
    height: 10vh;
} */

#camera-streams {
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.camera-stream {
    width: 45vw;
    border: 1px solid rgb(8, 218, 8);
}


